/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
  background-color: #f5f5f5;
  color: #121212;
}

h1,
h2,
h3 {
  letter-spacing: 10px;
}

h1 {
  font-size: 50pt;
}

h1 span {
  font-weight: normal;
}

h2 {
  font-size: 20pt;
  font-weight: normal;
}

h3 {
  font-size: 30pt;
}

p,
li {
  font-size: 15pt;
  font-family: Courier, monospace;
}

li {
  list-style-position: inside;
}

/* - CONTENEDOR PRINCIPAL - */
#contenedor-principal {
  margin: 50px 300px;
  border: solid 1px #eaeaea;
  box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.48);
}

/* -- HEADER -- */
#header-principal {
  position: relative;
  background-color: #eaeaea;
  padding: 75px 50px;
  margin-bottom: 50px;
}

#title {
  display: inline-block;
  width: 50%;
}

/* --- INFO. DE CONTACTO --- */
#contacto {
  display: inline;
  position: absolute;
  right: 40px;
  bottom: 20px;
}

#contacto li {
  list-style-type: none;
  margin-bottom: 25px;
}

#contacto i {
  width: 50px;
  text-align: center;
}

#contacto a {
  color: #121212;
}

/* -- MAIN -- */
main {
  margin: 100px 50px;
}

main section {
  width: 80%;
  margin: 70px auto;
}

/* --- SOBRE MÍ --- */
#sobre-mi p {
  width: 80%;
}

/* --- EDUCACIÓN --- */
.educacion-item {
  line-height: 1.5;
  margin: 0 15px 20px 0;
}

.educacion-item h4 {
  font-size: 17pt;
}

.educacion-item i {
  font-size: 13pt;
}

/* --- PROYECTOS --- */
.redireccionar {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 20px;
  color: #f5f5f5;
  background-color: #121212;
  border-radius: 5px;
  font-size: 13pt;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 1px solid #121212;
}

.redireccionar:hover {
  color: #121212;
  background-color: #f5f5f5;
}

#en-proceso {
  color: red;
  font-weight: normal;
  font-size: 13pt;
}

#proyectos p {
  display: inline-block;
  border: 1px solid #121212;
  padding: 15px;
  margin-bottom: 15px;
}

#proyectos h4 {
  font-size: 25pt;
  margin: 10px 0;
}

#calculadora {
  position: relative;
  width: 100%;
}

#calculadora img {
  width: 350px;
  height: 350px;
  position: absolute;
  right: 45%;
  top: -15px;
  z-index: -10;
}

#calculadora h5 {
  font-size: 20pt;
  padding: 10px 0;
}
